.vscode/**
.vscode-test/**
out/**
src/**
.eslintignore
.eslintrc.json
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
!out/extension.js
!out/SerialManager.js
!out/DashboardPanel.js
!media/**
